*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: sans-serif;
    background-image: url(../img/valorant-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

main{
    background-color: #0F1822;
}

p{
    line-height: 1.7;
}

h2{
    padding-top: 1rem;
}

.contenedor-agente,
.contenedor-rango{
    width: 30%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #0F1822;
    margin-top: 2rem;
    padding:1rem 0 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.contenedor-agente img,
.contenedor-rango img{
    width: 100%;
}



@media screen and (max-width: 768px){
    .contenedor-agente,
    .contenedor-rango{
        width: 100%;
    }
}