*{
    margin: 0;
    padding: 0;
}


.dark-body,
.light-body{
    color: white;
    font-family: sans-serif;
    background-image: url(../img/valorant-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.light-body{
    color: black;
    background-image: url(../img/valorant-light.webp);
    background-size: contain;
}

.dark{
    color: white;
    background-color: #0F1822;
}

.light{
    background-color: transparent;
    color: black;
}

nav{
    display: flex;
    justify-content: flex-end;
}

main{
    background-color: #0F1822;
}

p{
    line-height: 1.7;
}

h1,h2,h3{
    padding-top: 1rem;
    font-family: 'VALORANT', sans-serif;
}

.contenedor-agente,
.contenedor-rango,
.contenedor-equipo{
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #0F1822;
    color: white;
    margin-top: 2rem;
    padding:1rem 0 1rem 0;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.align-left{
    text-align: left;
    padding-left: 1rem;
}

.contenedor-rango{
    width: 30%;
}

.contenedor-agente img,
.contenedor-rango img{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.error{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(142, 11, 11);
    padding: 2rem;
    color: white;
    margin-top: 1rem;
    border-radius: 5px;
}

.estrella{
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 1.5s;
}

.favorito{
    box-shadow: 0 0 20px 0 yellow;
}


.hidden{
    display: none;
}


@media screen and (max-width: 768px){
    .contenedor-agente,
    .contenedor-rango,
    .contenedor-equipo{
        width: 90%;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}