@import url(https://db.onlinewebfonts.com/c/e7322a6673613ab13604fadda3d20e56?family=VALORANT);

@font-face {font-family: "VALORANT"; src: url("//db.onlinewebfonts.com/t/e7322a6673613ab13604fadda3d20e56.eot"); src: url("//db.onlinewebfonts.com/t/e7322a6673613ab13604fadda3d20e56.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e7322a6673613ab13604fadda3d20e56.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e7322a6673613ab13604fadda3d20e56.woff") format("woff"), url("//db.onlinewebfonts.com/t/e7322a6673613ab13604fadda3d20e56.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e7322a6673613ab13604fadda3d20e56.svg#VALORANT") format("svg"); }

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.dark-body,
.light-body {
  color: white;
  font-family: 'VALORANT', sans-serif;
  background-image: url(../img/valorant-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.light-body {
  color: black;
  background-image: url(../img/valorant-light.webp);
  background-size: contain;
}

.dark {
  color: white;
  background-color: #0f1822;
}

.light {
  background-color: transparent;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo-container {
  text-align: left;
  margin-right: auto;
}

a img {
  width: 30%;
}

main {
  background-color: #0f1822;
}

p {
  line-height: 1.7;
}

h1,
h2,
h3 {
  padding-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#formulario div {
  margin-top: 1rem;
}

#formulario input,
.btn {
  border-color: #0f1822;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50px;
}

.btn {
  background-color: #ff4654;
  transition: all 0.7s;
  cursor: pointer;
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.7;
}

.contenedor-agente,
.contenedor-rango,
.contenedor-equipo ,
.contenedor-vp{
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #0f1822;
  color: white;
  margin-top: 2rem;
  padding: 1rem 0 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contenedor-favs div {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.align-left {
  text-align: left;
  padding-left: 1rem;
}

.contenedor-agente img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.error {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(142, 11, 11);
  padding: 2rem;
  color: white;
  margin-top: 1rem;
  border-radius: 5px;
}

#btn-theme {
  font-size: 2rem;
  background: transparent;
  border-color: none;
  border: none;
  cursor: pointer;
}

.estrella {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 1.5s;
  color: white;
  transition: all 0.7s;
}

.estrella:hover {
  color: yellow;
}

.estrella:active {
  color: yellow;
}
.estrella:focus {
  color: yellow;
}

.favorito {
  box-shadow: 0 0 20px 0 yellow;
}

.hidden {
  display: none;
}

/* SPINNER  */

.no-scrollable {
  overflow: hidden;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .contenedor-agente,
  .contenedor-rango,
  .contenedor-equipo,
  .contenedor-vp {
    width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
